@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:300,400,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
body,
html {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul > li {
    margin: 0;
    padding: 0; }

body.editor {
  padding: 55px 25px 25px;
  background-color: #aaaaaa;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center; }
  body.editor header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.25);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(106, 106, 106, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(106, 106, 106, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(106, 106, 106, 0.9) 100%);
    color: white;
    font-weight: 100;
    line-height: 35px;
    text-align: center; }
  body.editor .document {
    display: inline-block;
    width: calc(80vh - 75px);
    height: calc(100vh - 85px);
    border: none;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle; }

body.resume {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Helvetica, sans-serif; }
  body.resume header {
    height: 10.25vh;
    padding: 2.15vh 0;
    border-bottom: 0.25vh solid #f14e40; }
    body.resume header .intro-container {
      width: 37.5%;
      float: left; }
      body.resume header .intro-container h1 {
        margin: 0;
        padding: 0.09vh 0 0.8vh 1vh;
        border-left: 3vh solid #374457;
        font-size: 2.75vh;
        font-weight: 400;
        line-height: 3vh; }
      body.resume header .intro-container p.objective {
        margin: 0 0 0 4vh;
        padding: 5px 0 0;
        font-size: 1vh; }
    body.resume header .photo-container {
      width: 25%;
      float: left;
      text-align: center; }
      body.resume header .photo-container .photo {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        display: inline-block;
        width: 10.25vh;
        height: 10.25vh;
        border: 3px solid #374457;
        border-radius: 100px;
        background-image: url("src/images/photo.jpg");
        background-size: auto 100%;
        vertical-align: middle; }
    body.resume header .contact-container {
      width: 37.5%;
      float: left; }
      body.resume header .contact-container ul {
        margin: 0 3vh 0 0;
        padding: 0;
        float: right;
        font-size: 1.1vh;
        list-style: none;
        text-align: right; }
        body.resume header .contact-container ul > li {
          display: block;
          margin: 0;
          padding: 0;
          float: right;
          clear: both;
          line-height: 2.5vh; }
          body.resume header .contact-container ul > li > i {
            display: block;
            position: relative;
            bottom: -0.8vh;
            width: 2vh;
            padding-left: 0.3vh;
            float: right;
            color: #f14e40;
            font-size: 1.5vh;
            text-align: center; }
  body.resume main {
    width: 100%;
    float: left; }
    body.resume main .column {
      width: 50%;
      float: left; }
    body.resume main .column-right {
      width: 40%;
      padding-right: 5%;
      padding-left: 5%; }
      body.resume main .column-right h2 {
        margin: 0;
        padding-left: 0; }
      body.resume main .column-right .heading {
        padding: 0;
        border: none; }
      body.resume main .column-right .body {
        padding: 0; }
    body.resume main h2 {
      margin: 0;
      padding: 1.435vh 0 1.435vh 4vh;
      font-size: 1.75vh;
      font-weight: 800;
      line-height: 4.62vh;
      line-height: 1.75vh; }
    body.resume main ul > li:first-child .heading {
      margin-top: 0; }
    body.resume main .heading {
      margin: 1.15vh 0 0;
      padding: 0 0 0 1vh;
      border-left: 3vh solid #f14e40; }
      body.resume main .heading span {
        display: block; }
      body.resume main .heading span.super-left {
        width: 50%;
        float: left;
        color: #f14e40;
        font-size: 0.85vh;
        text-align: left; }
      body.resume main .heading span.super-right {
        width: 50%;
        float: right;
        color: #f14e40;
        font-size: 0.85vh;
        text-align: right; }
      body.resume main .heading span.title {
        clear: both;
        font-size: 1.3vh;
        font-weight: 600;
        line-height: 1.6vh; }
      body.resume main .heading span.sub-title {
        font-size: 1.3vh;
        line-height: 1.6vh; }
    body.resume main .body {
      margin: 0;
      padding: 0.7vh 0 0 4vh; }
      body.resume main .body span.title {
        display: block;
        margin: 0;
        padding: 0;
        color: #f14e40;
        font-size: 0.85vh; }
      body.resume main .body p {
        margin: 0;
        padding: 0;
        font-size: 1.08vh; }
    body.resume main .education h2 {
      padding-top: 2vh; }
    body.resume main .education ul > li:first-child .heading {
      margin: 0; }
    body.resume main .education .heading {
      margin: 2vh 0 0; }
    body.resume main .skills-and-competences {
      padding: 0; }
      body.resume main .skills-and-competences > div {
        display: inline-block;
        width: 100%;
        height: 3vh;
        clear: both;
        vertical-align: middle; }
      body.resume main .skills-and-competences > div.scale {
        height: 2vh; }
        body.resume main .skills-and-competences > div.scale .label {
          display: block;
          width: 37.5%;
          margin: 0;
          padding: 0 2.5% 0 0;
          float: left;
          font-size: 1vh;
          text-align: right; }
        body.resume main .skills-and-competences > div.scale .progress-bar {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          width: 60%;
          height: 1vh;
          margin: 0;
          padding: 0;
          float: left;
          border: none;
          border-right: 1px solid #f14e40; }
          body.resume main .skills-and-competences > div.scale .progress-bar > span {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            width: 33%;
            float: left;
            border-left: 1px solid #f14e40;
            background-color: transparent; }
      body.resume main .skills-and-competences .label {
        display: block;
        width: 37.5%;
        margin: 0;
        padding: 0 2.5% 0 0;
        float: left;
        font-size: 1vh;
        text-align: right; }
      body.resume main .skills-and-competences .progress-bar {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 60%;
        height: 1.4vh;
        margin: 0;
        padding: 0;
        float: left;
        border: 1px solid #f14e40; }
        body.resume main .skills-and-competences .progress-bar span {
          display: block;
          height: 100%;
          float: left;
          background-color: #f14e40; }
    body.resume main .achievements-and-certificates h2 {
      padding-bottom: 1vh; }
    body.resume main .achievements-and-certificates > div {
      padding: 0.3vh 0; }
      body.resume main .achievements-and-certificates > div .heading {
        margin: 0;
        padding: 0;
        font-size: 1.15vh; }
      body.resume main .achievements-and-certificates > div .body {
        margin: 0;
        padding: 0;
        font-size: 0.9vh; }
    body.resume main .languages > div {
      margin-bottom: 1vh;
      font-size: 1.08vh; }
      body.resume main .languages > div span {
        display: block;
        float: left;
        width: 33%; }
    body.resume main .interests {
      font-size: 1.08vh;
      line-height: 1.5vh; }
      body.resume main .interests span {
        word-spacing: 0.2vh; }

/*# sourceMappingURL=index.map */