body.editor {

	header {
		@include dragHandle;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 35px;
		border-bottom: 1px solid rgba(darken($editor-background-color, 50%),0.25);
		background: -moz-linear-gradient(top, $editor-background-color-medium 0%, $editor-background-color-light 100%);
		background: -webkit-linear-gradient(top, $editor-background-color-medium 0%,$editor-background-color-light 100%);
		background: linear-gradient(to bottom, $editor-background-color-medium 0%,$editor-background-color-light 100%);
		color: white;
		font-weight: 100;
		line-height: 35px;
		text-align: center;
	}

	.document {
		display: inline-block;
		width: calc(80vh - 75px);
		height: calc(100vh - 85px);
		border: none;
		background: white;
		box-shadow: 0 0 25px 0 rgba(darken($editor-background-color, 75%),0.25);
		vertical-align: middle;
	}

	padding: 55px 25px 25px;
	background-color: $editor-background-color;
	font-family: $editor-primary-font;
	text-align: center;
}
