body.resume {
	header {
		.intro-container {
			h1 {
				margin: 0;
				padding: 0.09vh 0 0.8vh 1vh;
				border-left: 3vh solid $resume-secondary-color;
				font-size: 2.75vh;
				font-weight: 400;
				line-height: 3vh;
			}

			p.objective {
				margin: 0 0 0 4vh;
				padding: 5px 0 0;
				font-size: 1vh;
			}
			width: 37.5%;
			float: left;
		}

		.photo-container {
			.photo {
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				display: inline-block;
				width: 10.25vh;
				height: 10.25vh;
				border: 3px solid $resume-secondary-color;
				border-radius: 100px;
				background-image: url('src/images/photo.jpg');
				background-size: auto 100%;
				vertical-align: middle;
			}
			width: 25%;
			float: left;
			text-align: center;
		}

		.contact-container {
			ul {
				> li {
					> i {
						display: block;
						position: relative;
						bottom: -0.8vh;
						width: 2vh;
						padding-left: 0.3vh;
						float: right;
						color: $resume-primary-color;
						font-size: 1.5vh;
						text-align: center;
					}
					display: block;
					margin: 0;
					padding: 0;
					float: right;
					clear: both;
					line-height: 2.5vh;
				}
				margin: 0 3vh 0 0;
				padding: 0;
				float: right;
				font-size: 1.1vh;
				list-style: none;
				text-align: right;
			}
			width: 37.5%;
			float: left;
		}
		height: 10.25vh;
		padding: 2.15vh 0;
		border-bottom: 0.25vh solid $resume-primary-color;
	}

	main {
		h2 {
			margin: 0;
			padding: 1.435vh 0 1.435vh 4vh;
			font-size: 1.75vh;
			font-weight: 800;
			line-height: 4.62vh;
			line-height: 1.75vh;
		}

        ul > li:first-child .heading {
            margin-top: 0;
        }

		.heading {

			span {
				display: block;
			}

			span.super-left {
				width: 50%;
				float: left;
				color: $resume-primary-color;
				font-size: 0.85vh;
				text-align: left;
			}

			span.super-right {
				width: 50%;
				float: right;
				color: $resume-primary-color;
				font-size: 0.85vh;
				text-align: right;
			}

			span.title {
                clear:both;
				font-size: 1.3vh;
				font-weight: 600;
				line-height: 1.6vh;
			}

			span.sub-title {
				font-size: 1.3vh;
				line-height: 1.6vh;
			}

			margin: 1.15vh 0 0 0;
			padding: 0 0 0 1vh;
			border-left: 3vh solid $resume-primary-color;
		}

		.body {
			span.title {
				display: block;
				margin: 0;
				padding: 0;
				color: $resume-primary-color;
				font-size: 0.85vh;
			}

			p {
				margin: 0;
				padding: 0;
				font-size: 1.08vh;
			}
			margin: 0;
			padding: 0.7vh 0 0 4vh;
		}

        .education {
            h2 {
                padding-top:2vh;
            }
            ul > li:first-child .heading {
    			margin: 0;
            }
            .heading {
    			margin: 2vh 0 0 0;
            }
        }

        .skills-and-competences {
            padding: 0 4vh 0 4vh;

            > div {
                clear: both;
                height: 3vh;
                width: 100%;
                display: inline-block;
                vertical-align: middle;
            }

            > div.scale {
                height: 2vh;
                .label {
                    display: block;
                    float: left;
    				margin: 0;
    				padding: 0 2.5% 0 0;
                    text-align: right;
    				font-size: 1vh;
                    width: 37.5%;
                }
                .progress-bar {
                    border: none;
    				margin: 0;
    				padding: 0;
                    display: block;
                    float: left;
                    width: 60%;
                    height: 1vh;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    border-right: 1px solid $resume-primary-color;
                    > span {
                        display: block;
                        width: 33%;
                        float:left;
                        background-color: transparent;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        border-left: 1px solid $resume-primary-color;
                    }
                }
            }

            .label {
                display: block;
                float: left;
				margin: 0;
				padding: 0 2.5% 0 0;
                text-align: right;
				font-size: 1vh;
                width: 37.5%;
            }

            .progress-bar {
				margin: 0;
				padding: 0;
                display: block;
                float: left;
                width: 60%;
                height: 1.4vh;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 1px solid $resume-primary-color;

                span {
                    height: 100%;
                    display: block;
                    float: left;
                    background-color: $resume-primary-color;
                }
            }
        }

		.column {
			width: 50%;
			float: left;
		}

        .column-right {
            h2 {
                margin: 0;
                padding-left: 0;
            }
            .heading {
                border: none;
                padding: 0;
            }
        }

		width: 100%;
		float: left;
	}
	font-family: $resume-primary-font;
}
