body.resume {
	header {
		.intro-container {
			h1 {
				margin: 0;
				padding: 0.09vh 0 0.8vh 1vh;
				border-left: 3vh solid $resume-secondary-color;
				font-size: 2.75vh;
				font-weight: 400;
				line-height: 3vh;
			}

			p.objective {
				margin: 0 0 0 4vh;
				padding: 5px 0 0;
				font-size: 1vh;
			}
			width: 37.5%;
			float: left;
		}

		.photo-container {
			.photo {
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				display: inline-block;
				width: 10.25vh;
				height: 10.25vh;
				border: 3px solid $resume-secondary-color;
				border-radius: 100px;
				background-image: url('src/images/photo.jpg');
				background-size: auto 100%;
				vertical-align: middle;
			}
			width: 25%;
			float: left;
			text-align: center;
		}

		.contact-container {
			ul {
				> li {
					> i {
						display: block;
						position: relative;
						bottom: -0.8vh;
						width: 2vh;
						padding-left: 0.3vh;
						float: right;
						color: $resume-primary-color;
						font-size: 1.5vh;
						text-align: center;
					}
					display: block;
					margin: 0;
					padding: 0;
					float: right;
					clear: both;
					line-height: 2.5vh;
				}
				margin: 0 3vh 0 0;
				padding: 0;
				float: right;
				font-size: 1.1vh;
				list-style: none;
				text-align: right;
			}
			width: 37.5%;
			float: left;
		}
		height: 10.25vh;
		padding: 2.15vh 0;
		border-bottom: 0.25vh solid $resume-primary-color;
	}

	main {
		.column {
			width: 50%;
			float: left;
		}

		.column-right {
			h2 {
				margin: 0;
				padding-left: 0;
			}

			.heading {
				padding: 0;
				border: none;
			}

			.body {
				padding: 0;
			}
			width: 40%;
			padding-left: 5%;
			padding-right: 5%;
		}

		h2 {
			margin: 0;
			padding: 1.435vh 0 1.435vh 4vh;
			font-size: 1.75vh;
			font-weight: 800;
			line-height: 4.62vh;
			line-height: 1.75vh;
		}

		ul > li:first-child .heading {
			margin-top: 0;
		}

		.heading {
			span {
				display: block;
			}

			span.super-left {
				width: 50%;
				float: left;
				color: $resume-primary-color;
				font-size: 0.85vh;
				text-align: left;
			}

			span.super-right {
				width: 50%;
				float: right;
				color: $resume-primary-color;
				font-size: 0.85vh;
				text-align: right;
			}

			span.title {
				clear: both;
				font-size: 1.3vh;
				font-weight: 600;
				line-height: 1.6vh;
			}

			span.sub-title {
				font-size: 1.3vh;
				line-height: 1.6vh;
			}
			margin: 1.15vh 0 0;
			padding: 0 0 0 1vh;
			border-left: 3vh solid $resume-primary-color;
		}

		.body {
			span.title {
				display: block;
				margin: 0;
				padding: 0;
				color: $resume-primary-color;
				font-size: 0.85vh;
			}

			p {
				margin: 0;
				padding: 0;
				font-size: 1.08vh;
			}
			margin: 0;
			padding: 0.7vh 0 0 4vh;
		}

		.education {
			h2 {
				padding-top: 2vh;
			}

			ul > li:first-child .heading {
				margin: 0;
			}

			.heading {
				margin: 2vh 0 0;
			}
		}

		.skills-and-competences {
			> div {
				display: inline-block;
				width: 100%;
				height: 3vh;
				clear: both;
				vertical-align: middle;
			}

			> div.scale {
				.label {
					display: block;
					width: 37.5%;
					margin: 0;
					padding: 0 2.5% 0 0;
					float: left;
					font-size: 1vh;
					text-align: right;
				}

				.progress-bar {
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;

					> span {
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						display: block;
						width: 33%;
						float: left;
						border-left: 1px solid $resume-primary-color;
						background-color: transparent;
					}
					box-sizing: border-box;
					display: block;
					width: 60%;
					height: 1vh;
					margin: 0;
					padding: 0;
					float: left;
					border: none;
					border-right: 1px solid $resume-primary-color;
				}
				height: 2vh;
			}

			.label {
				display: block;
				width: 37.5%;
				margin: 0;
				padding: 0 2.5% 0 0;
				float: left;
				font-size: 1vh;
				text-align: right;
			}

			.progress-bar {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;

				span {
					display: block;
					height: 100%;
					float: left;
					background-color: $resume-primary-color;
				}
				box-sizing: border-box;
				display: block;
				width: 60%;
				height: 1.4vh;
				margin: 0;
				padding: 0;
				float: left;
				border: 1px solid $resume-primary-color;
			}
			padding: 0;
		}
        .achievements-and-certificates {

            h2 {
                padding-bottom: 1vh;
            }

            > div {
                padding: 0.3vh 0;
                .heading {
    				margin: 0;
    				padding: 0;
    				font-size: 1.15vh;
                }
                .body {
    				margin: 0;
    				padding: 0;
    				font-size: 0.9vh;
                }
            }
        }
		width: 100%;
		float: left;
	}
	font-family: $resume-primary-font;
}
